# Flutter Build Files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/**/outputs/
android/app/**/intermediates/
android/local.properties
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/captures/
android/.externalNativeBuild/
android/.cxx/
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Web
web/flutter_bootstrap.js

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# Miscellaneous
*.log
*.swp
*.swo
*~
.fvm/

# Test coverage
coverage/
